
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Hoşgeldin @ViewBag.v</h3>
            </div>
            <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">                  
                    <h5>@((DateTime.Now).ToString("dd MMMM yyyy"))</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/skydash/images/dashboard/people.svg" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>@ViewBag.v5<sup>C</sup></h2>
                        </div>
                        <div class="ml-2">
                            <h4 class="location font-weight-normal">İstanbul</h4>
                            <h6 class="font-weight-normal">Türkiye</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



