<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlantis Pet Market</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>

<head>
    <link rel="stylesheet" href="~/waggypetshop/css/swiper.css" />
    <link rel="stylesheet" href="~/waggypetshop/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="~/waggypetshop/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/waggypetshop/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4C+X2JoBLz5/0zK2b5Syy6R3ihN5Kt5J2G1F5J2ihcJz5NfZbZ9F6b5mQ5E5F7N5J5ZjM==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">


</head>

<body>

    @await Html.PartialAsync("HomeLayoutPartial/SvgPartial")

    <div class="preloader-wrapper">
        <div class="preloader">
        </div>
    </div>

    @await Component.InvokeAsync("CartModalList")


    @await Html.PartialAsync("HomeLayoutPartial/SearchPartial")

    @await Html.PartialAsync("HomeLayoutPartial/HeaderPartial")


    @RenderBody()

  
    @await Html.PartialAsync("HomeLayoutPartial/FooterPartial")

    @await Html.PartialAsync("HomeLayoutPartial/ScriptPartial")

</body>

</html>