<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atlantis Pet Market</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>

 <head>
    <link rel="stylesheet" href="~/waggypetshop/css/swiper.css" />
    <link rel="stylesheet" href="~/waggypetshop/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="~/waggypetshop/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/waggypetshop/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4C+X2JoBLz5/0zK2b5Syy6R3ihN5Kt5J2G1F5J2ihcJz5NfZbZ9F6b5mQ5E5F7N5J5ZjM==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
          rel="stylesheet">

 </head>

<body>

    @await Html.PartialAsync("HomeLayoutPartial/SvgPartial")

    <div class="preloader-wrapper">
        <div class="preloader">
        </div>
    </div>


    @await Component.InvokeAsync("CartModalList")


    @await Html.PartialAsync("HomeLayoutPartial/SearchPartial")

    @await Html.PartialAsync("HomeLayoutPartial/HeaderPartial")

  @*   @await Html.PartialAsync("HeaderPartial") *@

    @RenderBody()

@*     <section id="register" style="background: url('images/background-img.png') no-repeat;">
        <div class="container ">
            <div class="row my-5 py-5">
                <div class="offset-md-3 col-md-6 my-5 ">
                    <h2 class="display-3 fw-normal text-center">
                        Get 20% Off on <span class="text-primary">first Purchase</span>
                    </h2>
                    <form>
                        <div class="mb-3">
                            <input type="email" class="form-control form-control-lg" name="email" id="email"
                                   placeholder="Enter Your Email Address">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control form-control-lg" name="email" id="password1"
                                   placeholder="Create Password">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control form-control-lg" name="email" id="password2"
                                   placeholder="Repeat Password">
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-lg rounded-1">Register it now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> *@

@*     <section id="latest-blog" class="my-5">
        <div class="container py-5 my-5">
            <div class="row mt-5">
                <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                    <h2 class="display-3 fw-normal">Latest Blog Post</h2>
                    <div>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                            Read all
                            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-4 my-md-0">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">20</h3>
                        <p class="secondary-font fs-6 m-0">Feb</p>

                    </div>
                    <div class="card position-relative">
                        <a href="single-post.html"><img src="images/blog1.jpg" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-post.html">
                                <h3 class="card-title pt-4 pb-3 m-0">10 Reasons to be helpful towards any animals</h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    At the core of our practice is the idea that cities are the incubators of
                                    our greatest
                                    achievements, and the best hope for a sustainable future.
                                </p>
                                <a href="single-post.html" class="blog-read">read more</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4 my-md-0">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">21</h3>
                        <p class="secondary-font fs-6 m-0">Feb</p>

                    </div>
                    <div class="card position-relative">
                        <a href="single-post.html"><img src="images/blog2.jpg" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-post.html">
                                <h3 class="card-title pt-4 pb-3 m-0">How to know your pet is hungry</h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    At the core of our practice is the idea that cities are the incubators of
                                    our greatest
                                    achievements, and the best hope for a sustainable future.
                                </p>
                                <a href="single-post.html" class="blog-read">read more</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4 my-md-0">
                    <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1 bg-light">
                        <h3 class="secondary-font text-primary m-0">22</h3>
                        <p class="secondary-font fs-6 m-0">Feb</p>

                    </div>
                    <div class="card position-relative">
                        <a href="single-post.html"><img src="images/blog3.jpg" class="img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-post.html">
                                <h3 class="card-title pt-4 pb-3 m-0">Best home for your pets</h3>
                            </a>

                            <div class="card-text">
                                <p class="blog-paragraph fs-6">
                                    At the core of our practice is the idea that cities are the incubators of
                                    our greatest
                                    achievements, and the best hope for a sustainable future.
                                </p>
                                <a href="single-post.html" class="blog-read">read more</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@

    @await Html.PartialAsync("HomeLayoutPartial/FooterPartial")

    @await Html.PartialAsync("HomeLayoutPartial/ScriptPartial")

</body>

</html>