@model List<ProductListVM>
<div class="section-header d-md-flex justify-content-between align-items-center mb-3">
    <h2 class="display-3 fw-normal">Evcil Hayvan Giyim</h2>
    <div>
        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
            Satın Al
            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
    </div>
</div>
<div class="products-carousel swiper">
    <div class="swiper-wrapper">
        @foreach (var item in Model)
        {
                <div class="swiper-slide">
                    @* <div class="z-1 position-absolute rounded-3 m-3 px-3 border border-dark-subtle">
                        New
                    </div> *@

                    <div class="card position-relative">
                        <a href="single-product.html"><img src="~/productimage/@item.ProductPhotoPath" class="product-image-wrapper img-fluid rounded-4" alt="image"></a>
                        <div class="card-body p-0">
                            <a href="single-product.html">
                                <h3 class="card-title pt-4 m-0">@item.ProductName</h3>
                            </a>
                            <div class="card-text">
                                <span class="rating secondary-font">
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                    5.0
                                </span>
                                <h3 class="secondary-font text-primary">@item.Price₺</h3>
                                <div class="d-flex flex-wrap mt-3">
                                @*  <form asp-action="CreateOrUpdate" asp-controller="CartItem" method="post">
                                    <input type="hidden" name="productId" value="@item.CartItems" />
                                    <button type="submit" class="btn-cart me-3 px-4 pt-3 pb-3">
                                        <h5 class="text-uppercase m-0">Add to Cart</h5>
                                    </button>
                                </form> *@
                                    <a href="" class="btn-cart me-3 px-4 pt-3 pb-3">
                                        <h5 class="text-uppercase m-0">Add to Cart</h5>
                                    </a>
                                    <a href="#" class="btn-wishlist px-4 pt-3 ">
                                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
<style>
    .product-image-wrapper {
        width: 310px; /* Resim genişliği */
        height: 283px; /* Resim yüksekliği */
        overflow: hidden; /* Resmin belirlenen boyutların dışına taşmasını engeller */
        border-radius: 15px;
        background-color: #F2F2F2; /* Krem rengi *
        }
        .product-image-wrapper img
        {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Resmi kapsayacak şekilde ölçekler, en-boy oranını korur */
        border-radius: 15px;
    }
</style>
