@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Isparta Şubemiz</h3>
            <p>Atlantis Pet Market, Isparta'daki şubesi ile evcil hayvanlarınızın ihtiyaçlarını karşılamaya devam ediyor. Geniş ürün yelpazemizde vitaminler, mineraller, kedi, köpek, akvaryum ve kuş ürünleri gibi birçok çeşit bulunmaktadır.</p>
            <h4>İletişim</h4>
            <p>Adres: Mimar Sinan Cd. No:20, 32200 Isparta Merkez/Isparta</p>
            <p>Telefon: <a href="tel:+902462181818">0246 218 18 18</a></p>
        </div>
        <div class="col-md-6">
            <h3>Antalya Şubemiz</h3>
            <p>Antalya şubemiz, evcil hayvan sahiplerine yüksek kaliteli ürünler sunarak hizmet vermektedir. Kedinizin ihtiyaçlarına uygun kum çeşitlerinden, köpeğiniz için sağlıklı atıştırmalıklara kadar birçok ürün sunulmaktadır.</p>
            <h4>İletişim</h4>
            <p>Adres: Şirinyalı, İsmet Gökşen Cd. Koçyiğit Apartmanı No:116/A, 07230 Muratpaşa/Antalya</p>
            <p>Telefon: <a href="tel:+905458200100">0545 820 01 00</a></p>
        </div>
    </div>
</div>
