@model AtlantisPetMarket.Areas.Writer.Models.UserRegisterViewModel
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <title>Kayıt Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-14/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(/login-form-14/images/baykus3.jpg)">
                        </div>
                        <div class="login-wrap p-1 p-md-2">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Kayıt Ol</h3>
                                </div>
                            </div>
                            <form action="#" class="signin-form" method="post">
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Name">Adınız</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Surname">Soyadınız</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" asp-for="Surname">
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Password">ŞİFRE</label>
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label"  asp-for="ConfirmPassword">ŞİFRE TEKRAR</label>
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" asp-for="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Mail">MAİL ADRESİNİZ</label>
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" asp-for="Mail">
                                    <span asp-validation-for="Mail" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="UserName">KUllanıcı Adı</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" asp-for="UserName" >
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>        
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <button class="form-control btn btn-primary rounded submit px-3">Kayıt Ol</button>
                                </div>                              
                            </form>
                            <p class="text-center">Bir hesabınız var mı? <a href="/Writer/Login/Index/">Giriş Yap</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-14/js/jquery.min.js"></script>
    <script src="~/login-form-14/js/popper.js"></script>
    <script src="~/login-form-14/js/bootstrap.min.js"></script>
    <script src="~/login-form-14/js/main.js"></script>

</body>
</html>



