@model List<Contact>

@foreach(var contact in Model)
{
    <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
        <div class="support-box text-end d-none d-xl-block">
            <span class="fs-6 secondary-font text-muted">Telefon</span>
            <h5 class="mb-0">@contact.Phone</h5>
        </div>
        <div class="support-box text-end d-none d-xl-block">
            <span class="text-muted">Email</span>
            <h5 class="text-lowercase mb-0">@contact.Email</h5>
        </div>
    </div>
}
