@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Sepetiniz Boş";
}
<div class="empty-cart-container">
    <h2>Sepetinizde ürün bulunmamaktadır.</h2>
    <a href="/Home/Index">Alışverişe Devam Et</a>
</div>
