<ul class="nav">
    @await Component.InvokeAsync("AdminSidebar")
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Dashboard/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Writer/Dashboard/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-comment-account-outline"></i>
            </span>
            <span class="menu-title">Yazar Paneli</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Product/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Ürünler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-youtube"></i>
            </span>
            <span class="menu-title">Sosyal Medya</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Contact/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-phone"></i>
            </span>
            <span class="menu-title">İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Deneyimler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Default/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Siteye Git</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ToDoListPanel/Index/">
            <span class="menu-icon">
                <span class="mdi mdi-square-edit-outline"></span>
            </span>
            <span class="menu-title">Yapılacaklar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Service/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Hizmetler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Portfolio/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-github-circle"></i>
            </span>
            <span class="menu-title">Projeler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/ReceiverMessageList/">
            <span class="menu-icon">
                <i class="mdi mdi-message"></i>
            </span>
            <span class="menu-title">Gelen Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/SenderMessageList/">
            <span class="menu-icon">
                <i class="mdi mdi-message"></i>
            </span>
            <span class="menu-title">Giden Mesajlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/About/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-account"></i>
            </span>
            <span class="menu-title">Hakkımda</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ContactsubPlace/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-calendar"></i>
            </span>
            <span class="menu-title">Alt İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Testimonial/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Referanslar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Feature/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Öne Çıkan Gönderiler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Announcement/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-bell"></i>
            </span>
            <span class="menu-title">Duyuru İşlemleri</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience2/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-car"></i>
            </span>
            <span class="menu-title">Deneyim Ajax</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Şifre ve Güvenlik</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/ErrorPage/Error404/"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/ErrorPage/Index/"> 401 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Writer/Login/Index/"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Writer/Register/Index/"> Register </a></li>
            </ul>
        </div>
    </li>
</ul>
