@model AtlantisPetMarket.Areas.Writer.Models.UserLoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Giriş Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-14/css/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(/login-form-14/images/baykus3.jpg)">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Giriş</h3>
                                </div>
                            </div>
                            <form action="#" class="signin-form" method="post">
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Username">KUllanıcı Adı</label>
                                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" asp-for="Username" placeholder="Kullancı Adı">                          
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Password">ŞİFRE</label>
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" asp-for="Password" placeholder="Şifre">
                                </div>
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    <button class="form-control btn btn-primary rounded submit px-3">Giriş Yap</button>
                                </div>
                            </form>
                            <p class="text-center">Üye değil misiniz? <a href="/Writer/Register/Index/">Kayıt Ol</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-14/js/jquery.min.js"></script>
    <script src="~/login-form-14/js/popper.js"></script>
    <script src="~/login-form-14/js/bootstrap.min.js"></script>
    <script src="~/login-form-14/js/main.js"></script>

</body>
</html>



