@model ProductInsertVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4>Ürün Ekleme</h4>
            <br />
            <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Marka</label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Üst Kategori</label>
                    @* <select asp-for="ParentCategoryId" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        @foreach (ParentCategory pCategory in ViewBag.parentCategories)
                        {
                            <option value="@pCategory.Id">@pCategory.ParentCategoryName</option>
                        }
                    </select> *@
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    <select asp-for="CategoryId" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="">Öncelikle Bir Üst Kategori Seçin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Açıklama</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fiyat</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Ürün Kodu</label>
                    <input asp-for="ProductCode" class="form-control" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Stok Adedi</label>
                    <input asp-for="StockQuantity" class="form-control" />
                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Resim Yükle</label>
                    <input type="file" asp-for="ProductPhotoPath" class="file-upload-default" style="display: none;">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Resim Seçiniz">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Renk</label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @* <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/js/file-upload.js"></script> *@
    <script>

            (function ($) {
                'use strict';
            $(function () {
                $('.file-upload-browse').on('click', function () {
                    var file = $(this).parent().parent().parent().find('.file-upload-default');
                    file.trigger('click');
                });
            $('.file-upload-default').on('change', function () {
                        var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
            $(this).parent().find('.form-control.file-upload-info').val(fileName);
                    });
                });
            })(jQuery);

    </script>
    <script>
        $(document).ready(function () {
            // Kullanıcı input yaptığında , dan . ya çevir
            $('#Price').on('input', function () {
                var value = $(this).val();
                $(this).val(value.replace(',', '.'));
            });

            // Form submit edildiğinde , dan . ya çevir
            $('form').submit(function () {
                var priceInput = $('#Price');
                var priceValue = priceInput.val();
                priceValue = priceValue.replace(',', '.');
                priceInput.val(priceValue);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ParentCategoryId').change(function () {
                var parentCategoryId = $(this).val();
                if (parentCategoryId) {
                    $.ajax({
                        url: '@Url.Action("GetCategoriesByParentId", "Product")',
                        type: "GET",
                        data: { parentCategoryId: parentCategoryId },
                        success: function (data) {
                            var categorySelect = $('#CategoryId');
                            categorySelect.empty();
                            if (data && data.length > 0) {
                                $.each(data, function (i, category) {
                                    categorySelect.append('<option value="' + category.id + '">' + category.categoryName + '</option>');
                                });
                            } else {
                                categorySelect.append('<option value="">No categories available</option>');
                            }
                        }
                    });
                } else {
                    $('#CategoryId').empty().append('<option value="">Lütfen bir üst kategori seçin</option>');
                }
            });
        });
    </script>
}

