@model IEnumerable<ProductListVM>
@{
    ViewData["Title"] = "ProductOfTheMonth";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ayın Ürünleri Listesi</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="sort" style="color:white">Ürün Adı</th>
                          @*   <th scope="col" class="sort" style="color:white">Kategori</th> *@
                            <th scope="col" style="color:white">Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="budget">
                                    @item.ProductName
                                </td>
                               @*  <td class="budget">
                                    @item.Category.CategoryName
                                </td> *@
                                <td>
                                    @if (item.IsProductOfTheMonth==true)
                                    {
                                        <span class="badge badge-success">Ayın Ürünü</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

